//Basic layout with fixed footer

//Required arguments
@header-height: 200px;
@footer-height: 200px;

*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
.layout{
	min-height: 100%;
	background: #a0a0a0;
}
.header{
	height: @header-height;
	background: #902092;
}
.content{
	background: #463739;
}
.footer{
	height: @footer-height;
	background: #390243;
}